* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;
    background-image: linear-gradient(rgba(38, 39, 38, 0.5)), url('login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;

}


.slogan {
    color: white;
  padding-right: 800px;
  padding-top: 400px;

}

.slogan p{
    font-size: 20px;
}





.info {

    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-right: 200px;
    padding: 200px;
    color: white;
    text-align: center;
}



.info h2 {
    font-size: 25px;
    margin-top: 10px;
}

.login-box {

    background: rgb(255, 255, 255);
    padding: 130px 40px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(60, 55, 55);
}


.input-box {
    margin-bottom: 15px;
}

.input-box label {

    display: block;
    margin-bottom: 10px;
    color: rgb(31, 28, 28);
    font-size: 15px;


}


.input-box input {

    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(203, 194, 194);
    border-radius: 5px;
    cursor: pointer;
    outline: none;

}

.input-box input:focus {
    border-color: #568b79;
}




.btn {

    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgb(152, 143, 143);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: #767d78;
    color: #fff;
    margin-bottom: 15px;
    transition: ;

}

.btn:hover
{
    background-color: blue;
}

.fpass {

    font-size: 14px;
    margin-bottom: 10px;

}


.fpass a {
    text-decoration: none;
    color: #37403d;
}



