.programs
{
    margin: 80px auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}







.program img
{
 width: 100%;
 border-radius: 10px;


}

.program
{
    flex-basis: 31%;
}

